<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:700|Raleway:900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Recipe Finder</title>
  <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
  <h1>Search for a Recipe</h1>
  
  <form method="post" action="/recipe">
    <p>What do you want to cook?</p>
    <p><input name="query"></p>
    <p><input type="submit" value="Find Recipes"></p>
  </form>
  <div class="navbar">
        <p>wengels recipe search</p>
        <!-- <a href="#contact">Contact</a> -->
      </div>
</body>

</html>


